<!DOCTYPE html>
<html>
  <head>
    <title>Lopipop</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Lopipop</h1>
    <h2>Welcome to lopipop</h2>
  </body>
</html>
